
<% @groups.each do |group| %>
  <div class="panel panel-default">
       <b><%= label_tag group.name%></b>
    <div class="btn-group btn-group-xs" role="group" aria-label="...">
    <%= link_to "Calculate", calculate_split_expenses_groups_path(group, group.id),class:"btn btn-default"%>
    <%= link_to "Show Bills", show_bills_groups_path(group, group.id),class:"btn btn-default"%>
      <% if current_user.id == group.owner_id %>
        <%= link_to "Edit", group_path(group.id),class:"btn btn-default"%>
        </div>
      <%end%>
      </br>
    <div class="panel-body">
      <% group.users.each do |user| %>
       <%= label_tag user.username, nil, class:"label label-default" %>
      <% end %>

    </div>
  </div>
<% end %>
  <%= link_to "Create new Group", new_group_path, class: "btn btn-primary"%> <br>
