<h3>Bills</h3>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <%= select_tag "group_id", content_tag(:option,'All',:value=>"all") +
    options_from_collection_for_select(current_user.groups, "id", "name", selected: params[:group_id]),
                 class: "group_select",style: "width: 50%; height: 3em;"%>

    <% @bills.each do |bill| %>
  <div class="panel panel-default">
      <%if bill.user_id == current_user.id%>
      <div class="btn-group btn-group-xs" role="group" aria-label="...">
      <%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-default", style: "margin: 5px;" %>
      </div>
      <%end%>
    <%=label_tag User.find(bill.user_id).username%> paid:  <%= label_tag number_to_currency(bill.amount, unit: '€')%>
    <br>
    Description: <%= label_tag bill.description%>
    <br>
    Group: <%= label_tag bill.group.name%>
  </div>
    <% end %>
  </tbody>
</table>
