<h3>Bills</h3>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <span class="filter group-filter col-xs-6">
    <%=label_tag "Filter for group: "%>
    <%= select_tag "group_id", content_tag(:option,'All',:value=>"all") +
    options_from_collection_for_select(current_user.groups, "id", "name", selected: params[:group_id]),
                 class: "group_select"%> </span>
  <span class="filter user-filter col-xs-6">
    <% if @group%>
    <%=label_tag "Filter for user: "%>
    <%= select_tag "user_id", content_tag(:option,'All',:value=>"all") +
    options_from_collection_for_select(@group.users, "id", "username", selected: params[:user_id]),
                                                        class: "user_select", style:"float:right"%>
      <%end%>
      </span>
  <br><br><br>



  <% @bills.sort_by(&:date).reverse.each do |bill| %>
  <div class="panel panel-default">

   <%if bill.user_id == current_user.id%>
      <div class="btn-group btn-group-xs bill-btn-group" role="group" aria-label="...">
      <%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-default", style: "margin: 5px;" %>
        <%= link_to "Edit", edit_bill_path(bill.id),class:"btn btn-default", style: "margin: 5px;" %>
        <div class="bill-date"> <%=label_tag bill.date %></div>
      </div>
      <%else%>
      <div class="bill-date"> <%=label_tag bill.date %></div>
  <%end%>



    <%=label_tag User.find(bill.user_id).username%> paid:  <%= label_tag number_to_currency(bill.amount, unit: '€')%>
    <br>
    Description: <%= label_tag bill.description%>
    <br>
    Group: <%= label_tag bill.group.name%>
  </div>
    <% end %>
  </tbody>
</table>
