<h1>Listing bills</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
  <div class="panel panel-default">
          <%= label_tag "Description:"%> <%= label_tag bill.description%>
        <%= link_to 'Show', bill %>
        <%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %><br>
          <%= label_tag "Ammount:"%><%= label_tag bill.amount%></br>
          <%= label_tag "Group:"%><%= label_tag bill.group_id%>
  </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill', new_bill_path %>
