<h1>All your bills</h1>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
  <div class="panel panel-default">
          <%= label_tag "Description: "%> <%= label_tag bill.description%>
        <%= link_to 'Show', bill %>
        <%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %><br>
          <%= label_tag number_to_currency(bill.amount, unit: '€')%> payed by <%=User.find(bill.user_id).username%></br>
          <%= label_tag "Group: "%><%= label_tag bill.group.name%>
  </div>
    <% end %>
  </tbody>
</table>
