<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <%= label_tag "Description: ",nil,style:"margin-top: 5px;"%> <%= label_tag @bill.description,nil,style:"margin-top: 5px;"%>
  <div class="bill-date" > <%=label_tag @bill.date %></div> <br>
  <%= label_tag "Ammount: "%><%= label_tag number_to_currency(@bill.amount, unit: '€')%></br>
  <%= label_tag "Group: "%><%= label_tag @bill.group.name%>
</div>
<%= link_to 'Back', bills_path %>
